<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div>
      <h2>Render MD formatting to HTML</h2>
      <form id="marked-form" action="/" method="POST">
        <textarea name="mdInput" rows="5" cols="50" placeholder="Input text with markdown format"><%= sample %></textarea>
        <button type="submit">Render to HTML</button>
      </form>
    </div>
    </br></br>

    <div>
      <h2>Render MD file to HTML</h2>
      <form enctype="multipart/form-data" action="/mdfile/upload" method="POST">
        <input name="markdown" type="file" required="">
        <button type="submit">Render to HTML</button>
      </form>
    </div>
    </br></br>

    <div>
      <h1>Output</h1>
      <div id="fileOutput"><%- output %></div>
    </div>
    </br></br>
  </body>
</html>
